body {
            background-color: brown;
        }

        p {
            color: darkorange;
            justify-content: center;
        }

        h1 {
            color: darkorange;
            text-align: center;
            font-size: 50px;
        }

         a.menu {
            text-decoration: none;
            color: darkorange;
        }

        a.menu:visited {
            color: darkorange;
        }

        a.menu:hover {
            color: black;
            transition: 0.3s;
        }

        a {
            text-decoration: none;
            font-weight: bold;
        }

        .foto {
            display: block;
            margin: auto;
        }
